@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
:root{
    --primary-colour: #ff7613;
    --text-color: #727171;

}
html{
    font-size: 10px;
}
body{
    font-family: Inter, sans-serif;
    background-color: black;
    color: silver;
    align-items: 0;
}
/* common styles */
img{
    width: 20%;
}
 a{
    text-decoration: none;
    color: silver;
 }
 .description{
    margin-top: 1rem;
    font-size: 1.5rem; 
    font-weight: 400;
     color: var(--text-color); 
 }
 .title{
    color: var(--primary-colour );
    font-weight: 700 ;
    font-size: 2rem;
    text-transform: uppercase;
 }
 .item_pretitle{
    font-size: 1.4rem;
    color: var(--text-color) ;
    font-weight: 300;

 }
 .item_title{
    font-size: 1.6rem;
    color: silver;
    font-weight: 500 ;
    margin: 0.8rem;
 }
 .item_subtitle{
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400 ;
 }
 /* layouts */
 .container {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    padding: 5rem;
    background: #070707;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;

 }
 @media only screen and (max-width: 768px){
    .container{
        width: 100%;
        grid-template-columns: 1fr;
        padding: 3rem;
         gap: 7rem;
          
    }
 }
.profile{
    grid-column: 1/ -1;
    margin-bottom: 2rem;
    flex-direction: column;
}
.group-1, .group-2 {
    display: flex;
    flex-direction: column;
     gap: 5rem; 
}
/* profile */
 .profile_container{
     display: flex;
     gap: 2rem;
     flex-direction: row;
     grid-row: 1/ -1;
 }
 profile_profileImg{
     max-width: 250px;
 }
.profile_name_firstname{
    color: silver;
    font-weight: 200;
     font-size: clamp(2rem, 8vw,  4rem);
     text-transform: uppercase ;
     display: block;
     margin-bottom: 0.8rem;
}
.profile_name_lastname{
    color: var(--primary-colour);
    font-weight: 700;
    font-size: clamp( 2.5rem, 15vw, 7rem);
    text-transform: uppercase;
    display: block;
}
.profile_title{
    font-size: 1.5rem;
     font-weight: 400; 
}
@media only screen and (max-width: 768px){
    .profile_container { 
        flex-direction: column;
    }
}


/* skills */
 .skills_list{
     margin-top: 1rem;
      margin-left: 2rem;
      line-height: 2;

 }
 .Hobbies_list{
    margin-top: 1rem;
    margin-left: 2rem;
    line-height: 2;
 }


 /* education */
.education_item{
    margin-top: 2rem;
} 

/* experience */
.experience_item{
margin-top: 2rem;
}

/* interest */
.interest_items {
    margin-top: 2rem;
     display: flex;
      align-items: center;
      flex-wrap: wrap ;
      gap: 2rem;

}
.interest_item {
    font-size: 1.5rem;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
      gap: 0.5rem;
      color:  var(--text-color);
}
.interest_item svg {
    width: 2rem;
}

/*contact me */
.btn {
margin-top: 2rem;
    font-size: 1.5rem; 
    font-weight: 400;
     color: var(--text-color); 
}
